@font-face {
  font-family: Asian; /* Имя шрифта */
  src: url(../fonts/TropicalAsianDEMO-Regular.ttf); /* Путь к файлу со шрифтом */
}

.logo {
  font-family: Asian;
  color: #130f40;
  font-size: 114px;
  text-align: center;
  background-color: #ffbe76;
}

.page {
  background-color: #eee; 
  height: 100vh;
  width: 100vw;
}

.container {
  width: 512px;
  height: auto;
  background-color: white;
  margin: 0 auto;
  text-align: center;
}

.iframe {
  width: 480px;
  height: 270px;
  margin-top: 10px;
}

.containerList {
  overflow: auto;
  height: calc(100vh - 290px);
  width: 512px;
  background-color: white;
  margin: 0 auto;
}

.list {
  list-style-type: none;
  padding: 0 10px;
}